.place__image {
  width: 460px;
  height: 460px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 767px)   {
  .place__image {
    width: 320px;
    height: 320px;
    margin: auto;
  }
}
